@import "../../assets/styles/color.scss";

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 32px;

  &__button {
    padding: 10px 15px;
    background-color: $black;
    color: $white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }

  &__button--prev {
  }

  &__button--next {
  }

  &__button--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
