@import "../../assets/styles/color.scss";
@import "../../assets/styles/animations.scss";

.productsListSkeleton {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  background-color: $white;
  // animation: skeleton 1s infinite;

  .productCard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      grid-template-columns: 180px 1fr 180px;
    }

    &__image {
      width: 100%;
      height: 180px;
      border-radius: 4px;
      animation: skeleton 1s infinite;
    }
  }
}
